#awite{
    width:50px;
    height:50px;
    border:6px solid red;
    position:absolute;
    left:47%;
    border-radius:50%;
    border-top:6px solid white;
    display:none;
    animation:loader 1s infinite;
}
@keyframes loader{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);

    }
}
#result_search {
    max-width:50%;
    margin:0 auto;
    display:grid;


}